---
import Layout from '../../layouts/Layout.astro'
import GameLongCard from '../../components/GameLongCard.astro'
import { allGames } from '../../data/games'


---

<Layout title="遊戲作品" description="探索 HanabiFuusen 的遊戲作品">
  <section class="pt-34 pb-16 max-w-4xl mx-auto">
    <div class="px-4 sm:px-6 lg:px-8">
      <!-- Games List -->
      <div class="flex flex-col gap-8">
        {allGames.map((game) => (
          <GameLongCard
            title={game.titleKey || ''}
            description={game.descriptionKey || ''}
            devDetail={game.devDetailKey}
            image={game.imgCover}
            href={`/games/${game.id}`}
            platforms={game.platforms || []}
            leftMemoText={game.leftMemoText}
            leftMemoColor={game.leftMemoColor}
            rightMemoText={game.rightMemoText}
            rightMemoColor={game.rightMemoColor}
            r18={game.r18}
            haveDetailPage={game.haveDetailPage}
          />
        ))}
      </div>
    </div>
  </section>
</Layout>

<script>
  import { updateContent } from '../../scripts/i18n'
  updateContent()
</script>
